# Most Profitable App Profiles

##  This is a program to establish the most profitable apps as part of our "company"'s published iOS and Android. It's the first project in Dataquest's Data Engineering track

In [1]:
import pandas as pd

In [19]:
def explore_data(dataset, start, end, rows_and_columns=False):
    dataset_slice = dataset[start:end]    
    for row in dataset_slice:
        print(row)
        print('\n') # adds a new (empty) line after each row

    if rows_and_columns:
        print('Number of rows:', len(dataset))
        print('Number of columns:', len(dataset[0]))

In [20]:
ls

AppleStore.csv                googleplaystore.csv
Profitable App Profile.ipynb

In [50]:
ios_ds = pd.read_csv('AppleStore.csv')
android_ds = pd.read_csv('googleplaystore.csv')

In [88]:
ios_ds.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1

In [87]:
android_ds.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

The Kaggle discussion forum has a comment highlighting that row 10472 has some missing data, resulting in data being shifted one column over

In [90]:
android_ds.iloc[[10472]] #Unfortunately, I reran this cell after dropping the row in question below, so this is showing row 10473 instead of 10472

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10473,osmino Wi-Fi: free WiFi,TOOLS,4.2,134203,4.1M,"10,000,000+",Free,0,Everyone,Tools,"August 7, 2018",6.06.14,4.4 and up

Let's delete that row

In [84]:

android_ds = android_ds.drop(android_ds.index[[10472]])

In [85]:
android_ds.iloc[[10472]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10473,osmino Wi-Fi: free WiFi,TOOLS,4.2,134203,4.1M,"10,000,000+",Free,0,Everyone,Tools,"August 7, 2018",6.06.14,4.4 and up

In [102]:
for idx, row in android_ds.iterrows():
    name = row['App']
    if name == 'Instagram':
        print(row, '\n')

App                        Instagram
Category                      SOCIAL
Rating                           4.5
Reviews                     66577313
Size              Varies with device
Installs              1,000,000,000+
Type                            Free
Price                              0
Content Rating                  Teen
Genres                        Social
Last Updated           July 31, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 2545, dtype: object

App                        Instagram
Category                      SOCIAL
Rating                           4.5
Reviews                     66577446
Size              Varies with device
Installs              1,000,000,000+
Type                            Free
Price                              0
Content Rating                  Teen
Genres                        Social
Last Updated           July 31, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 2604, dtype: object

App                        Instagram
Category                      SOCIAL
Rating                           4.5
Reviews                     66577313
Size              Varies with device
Installs              1,000,000,000+
Type                            Free
Price                              0
Content Rating                  Teen
Genres                        Social
Last Updated           July 31, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 2611, dtype: object

App                        Instagram
Category                      SOCIAL
Rating                           4.5
Reviews                     66509917
Size              Varies with device
Installs              1,000,000,000+
Type                            Free
Price                              0
Content Rating                  Teen
Genres                        Social
Last Updated           July 31, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 3909, dtype: object

Above we see that Instagram appears 4 times in the app. I wonder how many duplicate apps we have in the store.

In [106]:
duplicate_apps = []
unique_apps = []
for _, app in android_ds.iterrows():
    name = app['App']
    if name in unique_apps:
        duplicate_apps.append(name)
    else:
        unique_apps.append(name)
        
print('Number of duplicate apps:', len(duplicate_apps), '\n')
print('Examples of duplicate apps:', duplicate_apps[:10])

Number of duplicate apps: 1181

Examples of duplicate apps: ['Quick PDF Scanner + OCR FREE', 'Box', 'Google My Business', 'ZOOM Cloud Meetings', 'join.me - Simple Meetings', 'Box', 'Zenefits', 'Google Ads', 'Google My Business', 'Slack']

Let's make sure that there really are duplicats of some of the sample apps above. We'll use 'Google My Business', 'ZOOM Cloud Meetings', and 'Slack

In [109]:
gmb = 'Google My Business'
zoom = 'ZOOM Cloud Meetings'
slack = 'Slack'
dupes = [gmb, zoom, slack]

for _, row in android_ds.iterrows():
    if row['App'] in dupes:
        print(row, '\n')

App               Google My Business
Category                    BUSINESS
Rating                           4.4
Reviews                        70991
Size              Varies with device
Installs                  5,000,000+
Type                            Free
Price                              0
Content Rating              Everyone
Genres                      Business
Last Updated           July 24, 2018
Current Ver         2.19.0.204537701
Android Ver               4.4 and up
Name: 193, dtype: object

App               ZOOM Cloud Meetings
Category                     BUSINESS
Rating                            4.4
Reviews                         31614
Size                              37M
Installs                  10,000,000+
Type                             Free
Price                               0
Content Rating               Everyone
Genres                       Business
Last Updated            July 20, 2018
Current Ver            4.1.28165.0716
Android Ver                4.0 and up
Name: 213, dtype: object

App               Google My Business
Category                    BUSINESS
Rating                           4.4
Reviews                        70991
Size              Varies with device
Installs                  5,000,000+
Type                            Free
Price                              0
Content Rating              Everyone
Genres                      Business
Last Updated           July 24, 2018
Current Ver         2.19.0.204537701
Android Ver               4.4 and up
Name: 239, dtype: object

App                            Slack
Category                    BUSINESS
Rating                           4.4
Reviews                        51507
Size              Varies with device
Installs                  5,000,000+
Type                            Free
Price                              0
Content Rating              Everyone
Genres                      Business
Last Updated          August 2, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 240, dtype: object

App               ZOOM Cloud Meetings
Category                     BUSINESS
Rating                            4.4
Reviews                         31614
Size                              37M
Installs                  10,000,000+
Type                             Free
Price                               0
Content Rating               Everyone
Genres                       Business
Last Updated            July 20, 2018
Current Ver            4.1.28165.0716
Android Ver                4.0 and up
Name: 256, dtype: object

App               Google My Business
Category                    BUSINESS
Rating                           4.4
Reviews                        70991
Size              Varies with device
Installs                  5,000,000+
Type                            Free
Price                              0
Content Rating              Everyone
Genres                      Business
Last Updated           July 24, 2018
Current Ver         2.19.0.204537701
Android Ver               4.4 and up
Name: 268, dtype: object

App                            Slack
Category                    BUSINESS
Rating                           4.4
Reviews                        51507
Size              Varies with device
Installs                  5,000,000+
Type                            Free
Price                              0
Content Rating              Everyone
Genres                      Business
Last Updated          August 2, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 269, dtype: object

App                            Slack
Category                    BUSINESS
Rating                           4.4
Reviews                        51510
Size              Varies with device
Installs                  5,000,000+
Type                            Free
Price                              0
Content Rating              Everyone
Genres                      Business
Last Updated          August 2, 2018
Current Ver       Varies with device
Android Ver       Varies with device
Name: 294, dtype: object

Instead of simply removing duplicates at random, we'll use the number of reviews to decide which row for duplicate apps to keep in our data set. This makes intuitive sense since users tend to be drawn toward the apps with the highest number of reviews.

In [110]:
# create a dict to hold our duplicate apps and their number of reviews
reviews_max = {}
for idx, row in android_ds.iterrows():
    name = row['App']
    n_reviews = float(row['Reviews']) 
    
    if reviews_max.has_key(name) and review_max[name] < n_reviews:
        review_max[name] = n_reviews
    
    if name not in reviews_max:
        reviews_max[name] = n_reviews

AttributeError: 'dict' object has no attribute 'has_key'